.container {
  width: 85%;
  margin: auto;
  margin-top: 60px;
}

.form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 40%;
  margin: auto;
}

.form > form {
  display: flex;
  flex-direction: column;
}

.form > form > input {
  padding: 10px;
  outline: none;
  border: 1px solid lightgray;
}

.form > form > input:focus {
  outline: none;
}
