{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div class="uk-container">
    <div class="uk-flex uk-flex-column">
        <div class="uk-margin-medium-top">
            <p class="uk-text uk-text-large uk-text-light uk-text-emphasis uk-heading-divider uk-color-black">Change
                Password</p>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <form method='POST'>
                        {{form.hidden_tag()}}
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <label class="uk-form-label">Current Password</label>
                                {{form.current_password(class='uk-input')}}
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label">New Password</label>
                                {{form.new_password(class='uk-input')}}
                            </div>


                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <p class='uk-text'>{{ message }}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}

                            {% if form.current_password.errors %}
                            {% for error in form.current_password.errors %}
                            <p class='uk-text uk-margin-auto'>{{ error }}</p>
                            {% endfor %}
                            {% endif %}

                            {% if form.new_password.errors %}
                            {% for error in form.new_password.errors %}
                            <p class='uk-text uk-margin-auto'>{{ error }}</p>
                            {% endfor %}
                            {% endif %}

                            <div class="uk-margin" uk-tooltip='title: Update Password; pos: bottom'>
                                {{form.submit(class='uk-button uk-button-primary uk-width-1-1')}}
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}