{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<style>
    #landing {
        min-height: 100vh;
    }

    #about {
        min-height: 100vh;
    }
</style>


<div class="uk-container">
    <section id='landing' class="uk-section">
        <div class="uk-card uk-card-body uk-card-hover uk-card-large">
            <h3 class="uk-card-title">Organize teams and communicate how you want.</h3>
            <p> Chattr is a platform for you to communicate with people. Create a team, invite
                others, and start communicating! You can use Chattr to communicate with co-workers,
                friends, teammates, classmates, etc.
            </p>
            <div class="uk-flex uk-flex-left">
                <div>
                    <a class="uk-link uk-margin-right" href="{{ url_for('login') }}">Login</a>
                </div>
                <div>
                    <a class="uk-link" href="{{ url_for('register') }}">Register</a>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}