{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div class="uk-container">
    <section id='landing'>
        <div class="uk-card uk-card-body uk-card-hover uk-card-large uk-margin-medium-top">
            <h3 class="uk-card-title">Message how you want.</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
            </p>
            <div class="uk-flex uk-flex-left">
                <div>
                    <a class="uk-link uk-margin-right" href="{{ url_for('login') }}">Login</a>
                </div>
                <div>
                    <a class="uk-link" href="{{ url_for('register') }}">Register</a>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock content %}