{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div class="uk-container">
    <div
        class="uk-card uk-card-default uk-card-body uk-width-large uk-flex uk-flex-center uk-margin-medium-top uk-margin-auto">
        <fieldset class="uk-fieldset">
            <label class="uk-legend">Login</label>
            <form method='POST'>
                {{form.hidden_tag()}}
                <div class="uk-margin">
                    <div class="uk-inline uk-width-medium uk-margin-auto">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        {{form.username(class="uk-input")}}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-medium uk-margin-auto">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        {{form.password(class="uk-input")}}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class='uk-inline uk-width-medium uk-margin-auto'>
                        {{form.submit(class="uk-button uk-width-9-10 uk-button-primary")}}
                    </div>
                </div>
                <div class='uk-margin'>
                    Don't have an account? <a class="uk-link" href="{{ url_for('register') }}">Register now.</a>
                </div>
                <div class='uk-margin'>
                    <a class="uk-link" href="{{ url_for('forgot_password') }}">Forgot password?</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>

{% endblock content %}