{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div class="uk-container">
    <div class="uk-flex uk-flex-column">
        <div class="uk-margin-medium-top">
            <p class="uk-text uk-text-large uk-text-light uk-text-emphasis uk-heading-divider uk-color-black">My Teams</p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class='uk-text uk-text-medium uk-text-light uk-text-emphasis uk-color-black'>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% if length_of_teams != 0 %}
                    <div uk-grid>
                        {% for team in teams %}
                            <div class="uk-width-1-2">
                                <div class="uk-card uk-card-default uk-card-body uk-text-center">
                                    <a href="{{ url_for('team',team_key=team.team_key) }}" class="uk-card-title" uk-tooltip='title: Go to chat;'>{{team.name}}</a>
                                        <button style="cursor: pointer;" class="uk-card-badge uk-light" uk-icon="icon: more"></button>
                                        <div uk-dropdown>
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="uk-active uk-text-left"><a href="#">Copy Team Invite</a></li>
                                                <li class="uk-active uk-text-left"><a href="#">Members</a></li>
                                                {% if team.leader == current_user %}
                                                    <li class="uk-active uk-text-left" uk-tooltip="You will have to promote someone to be team leader to leave."><a href="#">Leave Team?</a></li>
                                                {% else %}
                                                    <li class="uk-active uk-text-left"><a href="#" uk-toggle="target: #leave-modal">Leave Team?</a></li>
                                                    <div id="leave-modal" uk-modal>
                                                        <div class="uk-modal-dialog uk-modal-body">
                                                            <h2 class="uk-modal-title">Leave Team?</h2>
                                                            <p>Are you sure you want to leave this team? If you leave this team, you will not be a member and all of your chats will be deleted if you leave this team.</p>
                                                            <p class="uk-text-right">
                                                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                                <a href="{{ url_for('leave_team',team_key=team.team_key) }}" class="uk-button uk-button-primary" type="button">Leave Team</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if team.leader == current_user %}
                                                    <li class="uk-nav-divider"></li>
                                                    <li class="uk-active uk-text-left"><a href="#">Edit Team Settings</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>                                        
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="uk-text uk-text-medium uk-text-light uk-text-emphasis uk-color-black">You currently have no teams.</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}