{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div class="uk-container">
    <div
        class="uk-card uk-card-default uk-card-body uk-width-large uk-flex uk-flex-center uk-margin-medium-top uk-margin-auto">
        <form method='POST'>
            <fieldset class="uk-fieldset uk-fieldset-center">
                <p class="uk-text uk-text-large uk-text-center uk-text-emphasis">Register</p>
                {{form.hidden_tag()}}
                <div class="uk-margin">
                    <div class="uk-inline uk-width-medium uk-margin-auto"">
                        <span class=" uk-form-icon" uk-icon="icon: user"></span>
                        {{form.username(class="uk-input")}}
                    </div>
                </div>


                <div class="uk-margin">
                    <div class="uk-inline uk-width-medium uk-margin-auto"">
                        <span class=" uk-form-icon" uk-icon="icon: mail"></span>
                        {{form.email(class="uk-input")}}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-medium uk-margin-auto"">
                        <span class=" uk-form-icon" uk-icon="icon: lock"></span>
                        {{form.password(class="uk-input")}}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class='uk-inline uk-width-medium uk-margin-auto'>
                        {{form.submit(class="uk-button uk-width-1-1 uk-button-primary")}}
                    </div>
                    {% if form.errors %}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <p class='uk-text-center uk-width-medium uk-margin-auto'>{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <p class='uk-text-center uk-width-medium uk-margin-auto'>{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                    {% else %}
                        <div class='uk-text uk-text-center uk-margin'>
                            Already have an account? <a class="uk-link" href="{{ url_for('login') }}">Log in.</a>
                        </div>
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock content %}