{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div class="uk-container">
    <div
        class="uk-card uk-card-default uk-card-body uk-width-large uk-flex uk-flex-center uk-margin-medium-top uk-margin-auto">
        <fieldset class="uk-fieldset">
            <p class="uk-text uk-text-large uk-text-center uk-text-emphasis">Reset Password</p>
            <form method='POST'>
                {{form.hidden_tag()}}

                <div class="uk-margin">
                    <div class="uk-inline uk-width-medium uk-margin-auto">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        {{form.email(class="uk-input")}}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-medium uk-margin-auto">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        {{form.password(class="uk-input")}}
                    </div>
                </div>

                <div class="uk-margin">
                    <div class='uk-inline uk-width-medium uk-margin-auto'>
                        {{form.submit(class="uk-button uk-width-9-10 uk-button-primary")}}
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class='uk-text-center uk-width-medium uk-margin-auto'>{{ message }}</p>
                    {% endfor %}
                    {% else %}
                    <p class="uk-text-center uk-width-medium uk-margin-auto">Enter in your email address and new
                        password.</p>
                    {% endif %}
                    {% endwith %}

                </div>


            </form>
        </fieldset>
    </div>
</div>

{% endblock content %}